* {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkblue;
    padding-bottom: 0;

    .profilePic {
        flex: 1;
        padding: 0.5rem;
        height: 20px;
    }

    .headlineTitle {
        flex: 10;
        h1 {
            text-align: center;
            background-color: darkblue;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 0;
            margin-bottom: 0;
        }
      }

    .logout {
        text-align: right;
        font-size: x-large;
        padding-top: 20px;
        padding-right: 2rem;
        flex: 1;
        margin-left: 0;
        a {
            color: black;
            background-color: white;
            text-decoration: none;
            padding-left: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-right: 1rem;
            border: 1rem;
            border-color: black;
            border-radius: 0.5rem;
        }
        a:hover {
            color:darkblue;
            background-color: lightgray;
        }
    }
  }
  

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 14px 16px;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    color:darkblue;
  }

  .headerMenu {
    background: hsl(223, 57%, 38%);
    color: white;
    margin-top: 0;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    div {
        width: 100%;
        padding-top: 0.8rem;
        text-align: center;
        padding-bottom:0.9rem;
        a {
            margin-top: 0;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 25px;
        }
        a:hover {
            background-color:darkblue;
        }
    }
  }

  .partsOfPage {
    display:flex;
    flex-direction: row;
    margin-bottom: 55px;
    .friends {
        flex: 2;
        background-color: lightgrey;
        .friendsElements {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            a {
                color: black;
            }
            a:hover {
                color: darkblue;
            }
        }
        .friendUpdates {
            padding-left: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-right: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            background-color: white;
            border:black;
            border-color: black;
            border-style: solid;
        } 
    }
    .middleWork {
        flex: 8;
    }
    .goal-list {
        flex: 2;
        background-color: lightgrey;
        .goalElements {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            p {
                margin-top: 0rem;
                margin-bottom: 0rem;
            }
            .firstGoal {
                margin-top: 0rem;
                margin-bottom: 1rem;
            }
            .goal {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
  }

  footer {
    flex: 0 50px;
    background: hsl(223, 57%, 38%);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    position:fixed;
    bottom:0;
    height: 3rem;
    a {
        float: left;
        color: white;
        text-align: center;
        padding: 0.94rem;
        /* padding: 14px 16px; */
        text-decoration: none;
        font-size: 17px;
    }
    a:hover {
        background-color:darkblue;
    }
    GitHub {
        float: right;
    }
  }

  .footerSpace {
    height: 60px;
  }